.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
RELEASE FILES/
android/key.properties
pubspec.lock
.dart_tool/
.history
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
